.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.container > h1 {
	text-align: center;
}

.table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 700px;
	margin: auto;
	margin-top: 30px;
}

.tr {
	border: 1px solid gray;
	width: 50px;
}

.td {
	border: 1px solid gray;
	padding-left: 10px;
}

.price-up {
	color: blue;
}

.price-down {
	color: red;
}
